*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
   display: flex; 
}
main{
    width: 100%;
    padding: 20px;
}

.sidebar{
    color: white;
    background-color: black;
    height: 100vh;
    width: 300px;
    padding-right: 20px;
}
.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}
.logo {
    font-size: 30px;
}

.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: white;
    padding: 15px;
    gap:15px;
    text-decoration: none;

}
.link:hover {
    background-color: lightskyblue;
    color: black;
    font-weight: bold;
}
.active{
    background-color: lightskyblue;
    color:black ;
}